<nav class="navbar white">
    <div class="container">
      <div class="container-fluid d-flex justify-content-between">
        <div class="logo">
          <a class="navbar-brand" href="#">
            <svg
              width="25"
              height="50"
              viewBox="0 0 26 32"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <rect
                x="1.5"
                y="6.5"
                width="16"
                height="24"
                rx="2.5"
                fill="white"
                stroke="#84B6F4"
                stroke-width="3"
              />
              <rect
                x="8.5"
                y="1.5"
                width="16"
                height="24"
                rx="2.5"
                fill="white"
                stroke="#84B6F4"
                stroke-width="3"
                class="d-inline-block"
              />
            </svg>
            <span class="logo logo-azul">Flashly</span>
          </a>
        </div>
        <div class="menu-dropdown">
          <div class="d-flex align-items-center">
            <img src="/img/profile-img.png" height="35" width="35" alt="profile" />
            <div class="dropdown">
              <button
                class="btn white dropdown-toggle menu"
                type="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Olá, Maria Sousa!
              </button>
              <ul class="dropdown-menu menu">
                <li><a class="dropdown-item" href="#">Configurações</a></li>
                <li><a class="dropdown-item" href="#">Sair</a></li>
              </ul>
        </div>
            
          </div>
        </div>
      </div>
    </div>
  </nav>
